# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [125]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [126]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
chipo.info

<bound method DataFrame.info of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

In [127]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [128]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

### Step 3. Name of the max valued product

In [129]:
# check if there is any item_price == NaN
print(chipo['item_price'].isnull().sum())

0

In [131]:
# remove $ symbol from item_price
chipo['item_price'] = chipo['item_price'].str.replace('$', '')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [132]:
# turn item_price from a string to a float
chipo['item_price'] = chipo['item_price'].astype(float)
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [133]:
# get the max of item_price
max_value = chipo['item_price'].max()
print('max value:', max_value)

# get the id of the item
id_max = chipo['item_price'].idxmax()
print('\nitem id:', id_max)

# get all the data from the item
location_id_max = chipo.loc[id_max]
print('\nitem data:\n',location_id_max)

# get the name of the item
name = location_id_max['item_name']
print('\nname of the max valued item:',name)

max value: 44.25

item id: 3598

item data:
 order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

name of the max valued item: Chips and Fresh Tomato Salsa

### Step 4. How many products cost more than $10.00?

In [ ]:
# a mask to identify those items with the price higher than $10
mask_10 = chipo['item_price'] > 10

# save the highly priced items in a new dataframe
high_price_items = chipo[mask_10]

# get how many products are in the new dataframe
print(len(high_price_items))

high_price_items.head()

1130

array([[2, 2, 'Chicken Bowl',
        '[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]',
        16.98],
       [3, 1, 'Chicken Bowl',
        '[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]',
        10.98],
       [4, 1, 'Steak Burrito',
        '[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]',
        11.75],
       ...,
       [1833, 1, 'Steak Burrito',
        '[Fresh Tomato Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]]',
        11.75],
       [1833, 1, 'Steak Burrito',
        '[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese, Lettuce, Guacamole]]',
        11.75],
       [1834, 1, 'Chicken Salad Bowl',
        '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole, Lettuce]]',
        11.25]], shape=(1130, 5), dtype=object)

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [ ]:
# obtain the unique order_ids of the highly valuated items
orders_with_high_valued_items = high_valued_items['order_id'].unique()
print('Orders with items that cost more than $10:',len(orders_with_high_valued_items))

Orders with items that cost more than $10: 863

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [145]:
# create a new dictionary to save order prices
order_prices = {}

for index, row in chipo.iterrows():
    current_order_id = row['order_id']
    current_price = row['item_price']
    
    if current_order_id in order_prices:
        order_prices[current_order_id] += current_price
    
    else:
        order_prices[current_order_id] = current_price

higher_than_10_orders = 0

for total in order_prices.values():
    if total > 10:
        higher_than_10_orders += 1

print(f"\nThe number of orders higher than $10 is: {higher_than_10_orders}")

The number of orders higher than $10 is: 1834

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?