# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
chipo.info

<bound method DataFrame.info of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

### Step 3. Name of the max valued product

In [9]:
# check if there is any item_price with the value NaN
print(chipo['item_price'].isnull().sum())

0

In [10]:
# remove $ symbol from item_price
chipo['item_price'] = chipo['item_price'].str.replace('$', '')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [11]:
# turn item_price from a string to a float
chipo['item_price'] = chipo['item_price'].astype(float)
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [33]:
# add a column with the price per unit
chipo['unit_price'] = chipo['item_price'] / chipo['quantity']

# get the max of item_price
max_value = chipo['unit_price'].max()
print('max value:\n\t', max_value)

# get the id of the item with max value
id_max = chipo['unit_price'].idxmax()
print('\nitem id:\n\t', id_max)

# get all the data from the item with max value
data_id_max = chipo.loc[id_max]
print('\nitem data:\n', data_id_max)

# get the name of the item with max value
name = data_id_max['item_name']
print('\nname of the max valued item:\n\t',name)

chipo.head()

max value:
	 11.89

item id:
	 281

item data:
 order_id                                                            123
quantity                                                              2
item_name                                              Steak Salad Bowl
choice_description    [Tomatillo Red Chili Salsa, [Black Beans, Chee...
item_price                                                        23.78
unit_price                                                        11.89
Name: 281, dtype: object

name of the max valued item:
	 Steak Salad Bowl

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

⚠ There are 2 other products with the same price:

In [116]:
expensive_mask = chipo['unit_price'] == chipo.loc[id_max]['unit_price']
expensive_items = chipo[expensive_mask]

unique_expensive_items = expensive_items.drop_duplicates(subset=['item_name'])
unique_expensive_items = unique_expensive_items.reset_index(drop=True)

unique_expensive_items.head()

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78,11.89
1,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89,11.89
2,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89,11.89

### Step 4. How many products cost more than $10.00?

In [34]:
# a mask to identify those items with the price higher than $10
mask_10 = chipo['unit_price'] > 10

# save the highly priced items in a new dataframe
high_price_items = chipo[mask_10]

# get how many products are in the new dataframe
print(len(high_price_items))

high_price_items.head()

1034

,order_id,quantity,item_name,choice_description,item_price,unit_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [35]:
# obtain the unique order_ids of the highly valuated items
orders_with_high_valued_items = high_price_items['order_id'].unique()
print('Number of orders with items that cost more than $10:',len(orders_with_high_valued_items))

Number of orders with items that cost more than $10: 787

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [36]:
# create a new dictionary to save order prices
order_prices = {}

for index, row in chipo.iterrows():
    current_order_id = row['order_id']
    current_price = row['unit_price']
    
    if current_order_id in order_prices:
        order_prices[current_order_id] += current_price
    
    else:
        order_prices[current_order_id] = current_price

higher_than_10_orders = 0

for total in order_prices.values():
    if total > 10:
        higher_than_10_orders += 1

print(f"\nThe number of orders higher than $10 is: {higher_than_10_orders}")

The number of orders higher than $10 is: 1785

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [37]:
# a mask to identify those order lines with the price higher than $10
order_line_mask_10 = chipo['item_price'] > 10

# save the highly priced items in a new dataframe
high_price_order_lines = chipo[order_line_mask_10]

# get how many products are in the new dataframe
print(len(high_price_order_lines))

high_price_order_lines.head()

1130

,order_id,quantity,item_name,choice_description,item_price,unit_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98

In [38]:
# obtain the unique order_ids of order lines higher than $10
orders_lines_higher_10 = high_price_order_lines['order_id'].unique()
print('Number of orders with items that cost more than $10:',len(orders_lines_higher_10))

Number of orders with items that cost more than $10: 863

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [67]:
items = chipo[['item_name', 'unit_price']].copy()

# remove duplicates (if name and price are the same)
unique_items = items.drop_duplicates(subset=['item_name','unit_price']).copy()
unique_items.head()

                               item_name  unit_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl        8.49

### Step 6. Sort by the name of the item

In [68]:
unique_items.sort_values(by='item_name', inplace=True)
unique_items.head(10)

              item_name  unit_price
298   6 Pack Soft Drink        6.49
4510      Barbacoa Bowl       11.49
471       Barbacoa Bowl       11.48
115       Barbacoa Bowl        8.99
39        Barbacoa Bowl       11.75
3195      Barbacoa Bowl        8.69
95        Barbacoa Bowl        9.25
81     Barbacoa Burrito        9.25
21     Barbacoa Burrito        8.99
1648   Barbacoa Burrito       11.08

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [86]:
print(chipo.loc[id_max]['quantity'], 'unidades')

2 unidades

...although there are two other products with the same price, with only one unit in the order:

In [115]:
expensive_mask = chipo['unit_price'] == chipo.loc[id_max]['unit_price']
expensive_items = chipo[expensive_mask]

unique_expensive_items = expensive_items.drop_duplicates(subset=['item_name'])
unique_expensive_items = unique_expensive_items.reset_index(drop=True)

unique_expensive_items.head()

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78,11.89
1,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89,11.89
2,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89,11.89

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [146]:
name_to_find = 'Veggie Salad Bowl'

# a mask to identify those order lines with the item we're looking for
mask_for_names = chipo['item_name'] == name_to_find

# filter by the mask
name_results = chipo[mask_for_names]
print(name_results[['order_id', 'quantity', 'item_name']])

# count the orders for this name
total_name_ordered = name_results['quantity'].sum()

print(f'\ntotal number of times {name_to_find} was ordered: {total_name_ordered}')

      order_id  quantity          item_name
186         83         1  Veggie Salad Bowl
295        128         1  Veggie Salad Bowl
455        195         1  Veggie Salad Bowl
496        207         1  Veggie Salad Bowl
960        394         1  Veggie Salad Bowl
1316       536         1  Veggie Salad Bowl
1884       760         1  Veggie Salad Bowl
2156       869         1  Veggie Salad Bowl
2223       896         1  Veggie Salad Bowl
2269       913         1  Veggie Salad Bowl
2683      1066         1  Veggie Salad Bowl
3223      1289         1  Veggie Salad Bowl
3293      1321         1  Veggie Salad Bowl
4109      1646         1  Veggie Salad Bowl
4201      1677         1  Veggie Salad Bowl
4261      1700         1  Veggie Salad Bowl
4541      1805         1  Veggie Salad Bowl
4573      1818         1  Veggie Salad Bowl

total number of times Veggie Salad Bowl was ordered: 18

### Step 9. How many times did someone order more than one Canned Soda?

In [148]:
name_to_find = 'Canned Soda'
mask_for_names = chipo['item_name'] == name_to_find
name_results = chipo[mask_for_names]
print(name_results[['order_id', 'quantity', 'item_name']].head())
total_name_ordered = name_results['quantity'].sum()
print(f'\ntotal number of times {name_to_find} was ordered: {total_name_ordered}')

mask_more_than_one = name_results['quantity'] > 1
results_more_than_one = name_results[mask_more_than_one]
print(results_more_than_one[['order_id', 'quantity', 'item_name']].head())
total_more_than_one_ordered = len(results_more_than_one)
print(f'\ntotal number of times someone ordered more than one {name_to_find}: {total_more_than_one_ordered}')

     order_id  quantity    item_name
18          9         2  Canned Soda
28         14         1  Canned Soda
51         23         2  Canned Soda
53         24         1  Canned Soda
107        47         1  Canned Soda

total number of times Canned Soda was ordered: 126
     order_id  quantity    item_name
18          9         2  Canned Soda
51         23         2  Canned Soda
162        73         2  Canned Soda
171        76         2  Canned Soda
350       150         2  Canned Soda

total number of times someone ordered more than one Canned Soda: 20